@model Discos.Dominio.Disco

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Disco</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Model.Titulo
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCanciones)
        </dt>
        <dd class="col-sm-10">
            @Model.CantidadCanciones
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class="col-sm-10">
            @(Model.FechaLanzamiento == DateTime.MinValue
                ? "Sin fecha"
                : Model.FechaLanzamiento.ToString("dd/MM/yyyy"))
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlTapa)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.UrlTapa" alt="Tapa del disco" style="max-width: 200px; max-height: 200px;" />
        </dd>

        <dt class="col-sm-2">
            Estilo
        </dt>
        <dd class="col-sm-10">
            @Model.Estilo.Descripcion
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEdicion)
        </dt>
        <dd class="col-sm-10">
            @Model.TipoEdicion.Descripcion
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>
    